# Node.js dependencies
node_modules/

# Package-lock files
package-lock.json

# .env files (for environment variables)
.env

# Logs
*.log

# Temporary files created by editors
*.swp
*.swo

# Operating system-specific files
.DS_Store
Thumbs.db

# Build output folders
/dist
/build

# IDE-specific files (e.g., VSCode, IntelliJ)
.vscode/
.idea/

# npm debug log
npm-debug.log

# Yarn specific
.yarn/
.yarnrc
